/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}





@font-face {
    font-family: 'pehlevi.ttf';
    src: url("../fonts/pehlevi.ttf") format('ttf');
}

@font-face {
    font-family: 'futurabookc.ttf';
    src: url("../fonts/FuturaBookC\ Regular.woff") format('ttf');
}


*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* background-image: url("../img/first\ food\ bg.png"); */
    /* background-repeat: no-repeat; */
    background-size: 100%;
    background-position: center;
}

.offer {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: 100%;

    height: 900px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(180deg, rgba(8, 3, 1, 0.60) 0%, rgba(22, 10, 5, 0.60) 50.17%, rgba(23, 11, 5, 0.50) 66.67%, rgba(24, 12, 4, 0.33) 82.67%, rgba(26, 13, 4, 0.11) 100%);
}

.logo {
    width: 250px;
    height: 200px;
    margin-right: 350px;
}

/* .nav {

} */

.nav_link {
    color: #fff;
    text-decoration: none;

    width: 147px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;

    padding-right: 90px;

    color: #FFF;
    text-align: center;
    font-family: FuturaBookC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px;
    /* 458.333% */
}

.title {
    margin-top: 320px;
    margin-left: 80px;

    color: #FFF;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #432A2A;
    font-family: Pehlevi;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px;
    /* 100% */
}

.about {
    margin-top: -40px;

    background-image: url("../img/second\ bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    width: 100%;
    height: 900px;
    flex-shrink: 0;
}

.about_paragraph {
    padding: 185px 75px 185px 75px;

    color: #D2D2D2;
    text-align: center;
    font-family: FuturaBookC;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 55px;
    /* 137.5% */
}

.first_dish_section,
.second_dish_block {
    margin-top: -100px;

    width: 100%;
    /* height: 2083.333px; */
    flex-shrink: 0;

    background-image: url("../img/first\ food\ bg.png");
}


.first_dish_title,
.second_dish_title {
    margin-top: 100px;

    height: 94px;
    flex-shrink: 0;
    color: #EAE0C4;
    text-align: center;
    font-family: Pehlevi;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: 110px;
    /* 114.583% */
}

.first_dish_block,
.second_dish_block {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 60px 0 80px 0;
}

/* .dish_img_block {
    
} */

.dish_img {
    width: 720px;
    height: 500px;

    display: block;
    margin-bottom: 30px;
}

.btn {
    height: 61px;
    padding: 3px 42px 3px 41px;
    margin: 30px 230px 30px 250px;

    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    border-radius: 30px;
    background: #266309;

    color: #FFF;
    font-family: FuturaMediumC;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;

}

.dish_info {

    width: 515px;
    height: 568px;


    color: #FFF;
    text-align: center;
    font-family: FuturaBookC;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6em;
    /* 178.571% */
}





/* ========   Footer   ========= */
footer {
    background: #261702;
}


.footer_block {
    margin: auto;
    height: 400px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 50px 80px 0px 80px;
}

.question {
    color: #EAE0C4;
    font-family: FuturaDemiC;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 20px;
}

.answer {
    color: rgba(234, 224, 196, 0.95);
    font-family: FuturaBookC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.contact {
    color: #EAE0C4;
    font-family: FuturaMediumC;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;

    text-decoration: none;
}

.line {
    width: 1280px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(234, 224, 196, 0.95);
}